  <md-card flex="nogrow">
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <span>Edit Group: {{group.name}}</span>
      </div>
    </md-toolbar>
    <md-table-container>
      <table md-table   md-progress="promise">
        <thead md-head >
          <tr md-row>
            <th md-column md-numeric>#</th>
            <th md-column >Categories</th>
            <th md-column ></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="category in urlcategories">
            <td md-cell>{{$index+1}}</td>
            <td md-cell><p class="md-body-2">{{category.name}}</p></td>
            <td><md-checkbox aria-label="category.name" ng-checked="existscat(category.name, group.category)" ng-click="togglecat(category.name, group.category)"></td>
          </tr>
         </tbody>
      </table>
    </md-table-container>
  </md-card>
